<div class='header'>
    <h1>New entity</h1>
    <%= link_to "< Back", "javascript:history.back()" %>
</div>

<div class="groups-container">
    <%= render partial: "form", locals: { entity: @entity, groups: @groups } %>
</div>


