<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render partial: 'group', locals: {data: group} %>
    <p><%= group.id %></p>
  <% end %>
</div>

<%= link_to "New group", new_group_path %>
