<div class="header">
  <p style="color: green"><%= notice %></p>
  <h2>Budget Groups</h2>

</div>


<div class="groups-container">
  <% @groups.each do |group| %>
    <% if can? :manage, group %>
    <%= render partial: 'group', locals: {data: group} %>
    <% end %>
  <% end %>
  <%= link_to "New group", new_group_path, class: 'btn' %>
</div>
