<div class="flash-screen">
    <h2>Budget App</h2>
    <div>
        <%= link_to "Log in", new_user_session_path, class: 'flash-btn' %>
    </div>
    <div>
        <%= link_to "Sign up", new_user_registration_path, class: 'flash-btn' %>
    </div>
</div>